<%- include('../includes/head.ejs')%>
</head>
<body>
    <%- include('../includes/header.ejs')%> 
      <%=errorMessage%>
      <form action="/new-password" method="post">
        <label for="password">NewPassword</label>
        <input type="password" name="password" id="password">
        <input type="hidden" value="<%= id %>" name="id" >
        <input type="hidden" value="<%= token %>" name="token" >
        <button type="submit">change pasword</button>
      </form>
<%- include('../includes/footer.ejs')%>
<script src="/js/jquery.min.js"></script>
<!-- End Footer area-->
<%- include('../includes/end.ejs')%>
