<%- include('../includes/head.ejs')%>
</head>
<body>
    <%- include('../includes/header.ejs')%> 
      <%=errorMessage%>
      <form action="/signup" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <label for="email">email:</label>
        <input type="email" name="email" id="email">
        <label for="password">password:</label>
        <input type="password" name="password" id="password">
        <label for="comfirmpassword">comfirmpassword:</label>
        <input type="password" name="comfirmpassword" id="comfirmpassword">
        <button type="submit">submit</button>
      </form>
<%- include('../includes/footer.ejs')%>
<script src="/js/jquery.min.js"></script>
<!-- End Footer area-->
<%- include('../includes/end.ejs')%>
