<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/jquery.dataTables.min.css">
<link rel="stylesheet" href="style.css">
<style>
    .tableData{
        direction: rtl;
        text-align: right;
        width: 40%;
        border-collapse:collapse;
        border:none;
        box-sizing: border-box;
        margin:4%;
      }
      .tableData thead th{
        padding:4px 8px;
        font-size: 16px;
        text-align: right;
      }
      .tableData thead td{
          font-size: 16px;
          font-weight: bold;
          color: black;
      }
      .tableData tr{
          border:solid 1px lightgray;
      }
      .selectDay{
          width:100%;
          border:none;
          padding:8px 12px;
          outline: none;
          padding-right:10px;
      }
</style>
</head>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
        <%- include('../includes/header.ejs')%> 
    <!-- Main Menu area End-->
    <!-- Start Status area -->
    <!-- Main Menu area End-->
    <!-- Breadcomb area Start-->
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div   class="breadcomb-list">
                    <div class="row">
                        <div style="direction:rtl" class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-form"></i>
                                </div>
                                <div  class="breadcomb-ctn">
                                    <h2 ><%= pageTitle%></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcomb area End-->
<!-- Form Element area Start-->
    <div class="form-element-area">
        <div class="container">
            <div class="row" >
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list mg-t-30">
                        <div class="row" style="margin-right: 2%;">
                            <form action="/teacherSchedule" method="post">
                                <div style="float: right;" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="nk-int-mk sl-dp-mn">
                                        <center><h2>نام استاد</h2></center>
                                    </div>
                                    <div class="chosen-select-act fm-cmp-mg">
                                        <select onchange="teacher(this)" id="teach" name="teach" class="chosen">
                                            <option value="">نام استاد</option>
                                            <%  if(staff.length>0){ 
                                                for(s of staff){
                                                    %>
                                                <option value="<%= s.name+ ' '+ s.Lastname %>"><%= s.name+ ' '+ s.Lastname %></option>
                                                <% }
                                            }%>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="row" id="allDays" style="display: none;">
                                <table id="first" border="2" style="float:right; width: 40%;  margin-bottom: 2%" class="tableData">
                                    <thead></thead>
                                    <tbody></tbody>
                                </table>
                                <table id="second" border="2" style="float:left; width: 40%; margin-left:4%; margin-bottom: 2%" class="tableData">
                                    <thead></thead>
                                    <tbody></tbody>
                                </table>
                                <table id="third" border="2" style="float:right; width: 40%;  margin-bottom: 2%" class="tableData">
                                    <thead></thead>
                                    <tbody></tbody>
                                </table>
                                <table id="fourth" border="2" style="float: left; width: 40%; margin-left:4%; margin-bottom: 2%" class="tableData">
                                    <thead></thead>
                                    <tbody></tbody>
                                </table>
                                <table id="fifth" border="2" style="float:right; width: 40%;  margin-bottom: 2%" class="tableData">
                                    <thead></thead>
                                    <tbody></tbody>
                                </table>
                                <table id="sixth" border="2" style="float: left; width: 40%; margin-left:4%; margin-bottom: 2%" class="tableData">
                                    <thead></thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/js/myJava.js"></script>
<!-- Form Element area End-->
<!-- End Realtime sts area-->
<!-- Start Footer area-->
    <!-- Form Element area End-->
<!-- End Realtime sts area-->
<!-- Start Footer area-->
<%- include('../includes/footer.ejs')%>
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<!-- Data Table JS============================================ -->
<script src="js/data-table/jquery.dataTables.min.js"></script>
<script src="js/data-table/data-table-act.js"></script>
<!-- End Footer area-->
<%- include('../includes/end.ejs')%>
