<%- include('../includes/head.ejs')%>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
	<!-- BEGIN HEADER -->
    <%- include('../includes/header.ejs')%>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
	<div id="container" class="row-fluid">
        <!-- BEGIN SIDEBAR -->
        <%- include('../includes/sidebar.ejs')%>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->  
      <div id="main">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                   <!-- BEGIN THEME CUSTOMIZER-->
                   <div id="theme-change" class="hidden-phone">
                       <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text">Theme:</span>
                            <span class="colors">
                                <span class="color-default" data-style="default"></span>
                                <span class="color-gray" data-style="gray"></span>
                                <span class="color-purple" data-style="purple"></span>
                                <span class="color-navy-blue" data-style="navy-blue"></span>
                            </span>
                        </span>
                   </div>
                   <!-- END THEME CUSTOMIZER-->
                  	<!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        انستیتوت حسابداری
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                        </li>
                        <li>
                            <a href="/completeInformation"><%=pageTitle%></a> <span class="divider">&nbsp;</span>
                        </li>
                        <li class="pull-right search-wrap">
                            <form class="hidden-phone">
                                <div class="search-input-area">
                                    <input id=" " class="search-query" type="text" placeholder="جستجو...">
                                    <i class="icon-search"></i>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
               <div class="span12">
                    <div class="mainDiv">
                        <p class="p">وزارت معارف</p>
                        <p class="p">معینت تعلیمات تخنیکی و مسلکی</p>
                        <p class="p">آمریت امور مکاتب</p>
                            <table border="2px">
                                <thead>
                                    <tr>
                                        <th colspan="26">(&ensp;&ensp;&ensp;&ensp;)جدول شهرت مکمل فارغ التحصیلان صنوف (چهاردهم)انستیوت(اداره وحسابداری)سال فراغت </th>
                                    </tr>
                                    <tr>
                                        <th rowspan="2" class="verticalText">شماره</th>
                                        <th colspan="3">شهرت</th>
                                        <th rowspan="2" class="verticalText">نمبراساس</th>
                                        <th colspan="4">تذکره</th>
                                        <th rowspan="2">سال تولد</th>
                                        <th colspan="3">سکونت اصلی</th>
                                        <th colspan="3">سکونت فعلی</th>
                                        <th rowspan="2" class="verticalText">صنف فارغه</th>
                                        <th rowspan="2" class="verticalText">رشته</th>
                                        <th rowspan="2" class="verticalText">سال فراغت</th>
                                        <th colspan="2">برای صنوف چهاردهم</th>
                                        <th rowspan="2" class="verticalText">(درجه فارغه(اعلی،عالی،خوب</th>
                                        <th colspan="2">بخش</th>
                                        <th rowspan="2" class="verticalText">نمبرتماس</th>
                                        <th rowspan="2" class="verticalText">نصب فوتو فارغ التحصیل</th>
                                    </tr>
                                    <tr>
                                            <th class="verticalText">اسم</th>
                                            <th class="verticalText">ولد</th>
                                            <th class="verticalText">ولدیت</th>
                                            <th class="verticalText">جلد</th>
                                            <th class="verticalText">صفحه</th>
                                            <th class="verticalText">شماره ثبت</th>
                                            <th class="verticalText">نمبر صکوک</th>
                                            <th class="verticalText">قریه یا گذر</th>
                                            <th class="verticalText">ولسوالی یا ناحیه</th>
                                            <th class="verticalText">ولایت</th>
                                            <th class="verticalText">قریه یا گذر</th>
                                            <th class="verticalText">ولسوالی یا ناحیه</th>
                                            <th class="verticalText">ولایت</th>
                                            <th class="verticalText">امتحان دولتی راسپری نموده</th>
                                            <th class="verticalText">اوسط نمرات چهار سمستر</th>
                                            <th class="verticalText">نهاری</th>
                                            <th class="verticalText">لیلیه</th>
                                        </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="26">شهرت متعلمین/محصلین شامل جدول هذا بر پایه اسناد موثق وبادقت مسولانه با تاریخ(&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;)ترتیب گردیده صحت است.  با احترام</td>
                                    </tr>
                                    <tr>
                                        <td colspan="26">اسم وامضاسرمعلم&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;اسم وامضامعاون  تدریسی&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;اسم وامضا مدیر عمومی موسسه تعلیمی</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <%- include('../includes/end.ejs')%>